.background-lair {
    background: url("../../assets/images/lair.png") ;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  
  
  }
  
  .blur{
      background: rgba(255,255,255,0);
      color: white;
      backdrop-filter:blur(16px);
  
  }


  .btn-signature{
    width: 100px;
    height:
  }