.boxText{
    /* position: absolute; */
width:90%;
height: 403px;
left: 8px;
top: 417px;

background: #cec8c8;
border-radius: 7px;
}

.box{
    width: 100%;
    display: flex;
    justify-content:center;
}