/* css => Melhorando a aparencia do pdfViewer */

.App-header{
    width: 100vw;
    justify-content: center;
    margin-top: 10px;
}

button{
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
}

