.section {
  display: flex;
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
}
.center {
  display: flex;
  justify-content: center;
}
.section p {
  text-align: start;
  font-weight: bold;
  width: 70%;
  
}

.section .btn-text {
  display: grid;
  text-align: center;
  margin-right: 20px;
}

.section .btn-text img {
    margin-bottom: -12px;
}

.btn-text {
  width: 54px;
  height: 54px;
  left: 342.08px;
  top: 326px;
 
    margin-left:20px;
  align-items: center;
  /* Light */

  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 7px;
}

.btn-text p{
    font-size: 10px;
    margin-top:10px;
    margin-bottom:55px;
    width: 100%;
    text-align: center;
  }
  