.button {
 
  width: 320px;
  height: 57px;
  left: 54px;
  top: 372px;

  /* Light */

  background: #ffffff;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 14px;
  cursor: pointer;
  display: flex;
 
  align-items: center;
  color: black !important;
}


.button p{

left: 3.75%;
right: 4.06%;
top: 33.33%;
bottom: 33.33%;

/* p Bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
}

.button p{

  }
  